.welcome{
  background-image: url("./assets/img/welcome.png");
  height: 978px;
  width: 100%;
  background-size: cover;
  padding: 100px 0 100px 0;
  .welcomeBox{
    margin: 0 100px 0 100px;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    .WelcomeHeading{
      color: white;
      gap: 70px;
      flex-direction: column;
      display: flex;
      .WelcomeName{
        p{
          font-size: 48px;
          font-weight: bolder;
          margin: 0;
        }
      }
      .WelcomeSubtitle{
        p{
          font-size: 36px;
          font-weight: bold;
          margin: 0;
        }
      }
    }
  }
}
.about{

  .aboutTextImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 460px 100px 460px 100px;
    gap: 100px;
    .aboutDescription{
      gap: 50px;
      .aboutHeading{
        font-size: 36px;
      }
      .aboutSubtitle{
        font-size: 24px;
      }
      .aboutAdvantages{
        font-size: 24px;
        ul{
          text-decoration: none;
          color: black;
        }
      }
    }
    .aboutImg{
      #about{
        height: 440px;
      }
    }
  }
}
.advantages{
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  gap: 100px;
  .personalManager{
    background-image: url("./assets/img/personal_manager.png");
    height: 700px;
    width: 440px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    .personalManagerText{
      background-color: aqua;
      width: 100%;
      height: 205px;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 32px;
        color: white;
        text-align: center;
        font-weight: bold;
      }
    }
  }
  .miniAdvantages{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .miniAdvantage{
      width: 440px;
      height: 205px;
      border: 2px black solid;
      border-radius: 20px 0 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      gap: 20%;
      .headingMiniAdvantages{
        p{
          font-size: 48px;
          text-align: center;
          font-weight: bold;
        }
      }
      .subtitleMiniAdvantages{
        p{
          font-size: 32px;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
  .freshContent{
    background-image: url("./assets/img/fresh_content.png");
    height: 700px;
    width: 440px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    .freshContentTextTop{
      background-color: red;
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 32px;
        color: white;
        text-align: center;
        font-weight: bold;
      }
    }
    .freshContentTextBottom{
      background-color: red;
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 32px;
        color: white;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
