:root{

  /**  Цвета */
  //--primary-color: #B88E2F;
  --bg: #f6f7fb;
  --card: #ffffff;
  --primary: #2b6ef6;
  --muted: #6b7280;



  /**  Отступы  */
  //--gap-xl: 20px;
  //--gap-l: 15px;
  //
  //--padding-block: 20px;
  //--padding-inline: 20px;

  /**  Скругления углов  */
  //--border-radius-default: 20px;

  /**  Основные цвета */
  //--main-color: #e3e3e3;

  /**  Шрифты */
  //--font-family-title: "Open Sans";



  /**  SVG для вставки куда мне надо */

}