header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 100px;
  .logo{
    font-size: 36px;
  }
  nav{
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      li{
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: black;
        list-style: none;
      }
    }
  }
}