header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 100px;
  border-bottom: 3px solid var(--light_blue);

  .logo {
    font-size: 36px;
    cursor: pointer;
    #logo{
      height: 50px;
      width: auto;
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      li {
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: black;
        list-style: none;
        cursor: pointer;
      }
    }
  }

  /* ---------- TABLET 768–1279px ---------- */
  @media (max-width: 1279px) and (min-width: 768px) {
    padding: 0 40px;
    height: 90px;

    .logo {
      font-size: 30px;
      #logo{
        height: 35px;
        width: auto;
      }
    }

    nav {
      ul {
        gap: 30px;
        padding: 0;
        li {
          font-size: 20px;
        }
      }
    }
  }

  /* ---------- MOBILE ≤767px ---------- */
  @media (max-width: 767px) {
    padding: 0 20px;
    height: 80px;

    .logo {
      font-size: 26px;
      #logo{
        height: 25px;
        width: auto;
      }
    }

    nav {
      ul {
        gap: 20px;
        padding: 0;
        li {
          font-size: 16px;
        }
      }
    }
  }
}
