:root{

  /**  Цвета */
  --white: #ffffff;
  --light_white: #F5F7FA;
  --light_blue: #00D4FF;
  --blue: #1E3A8A;
  --red: #C1121F;
  --muted: #D9D9D9;
  --dark: #1A1A1A;
  --black: #000000;
  --yellow: #FFD100;

  /**  Отступы  */
  //--gap-xl: 20px;
  //--gap-l: 15px;
  //
  //--padding-block: 20px;
  //--padding-inline: 20px;

  /**  Скругления углов  */
  //--border-radius-default: 20px;

  /**  Основные цвета */
  //--main-color: #e3e3e3;

  /**  Шрифты */
  //--font-family-title: "Open Sans";



  /**  SVG для вставки куда мне надо */

}