.applicationsIconName{
  width: 215px;
  border: 1px black solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0 20px 0;
  .applicationsIcon{

  }
  .applicationsName{
    font-size: 24px;
  }
}